.App {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.box {
  border: 2px solid #ff50bf;
  max-width: 650px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-position: center;
}
