.App {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.box {
  border: 2px solid #ff50bf;
  max-width: 650px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-position: center;
}

h1,
h2 {
  margin: 5px 5px 5px 20px;
}
h1 {
  font-size: 55px !important;
}

footer {
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: none;
  color: #484649;
}

.link:hover {
  text-decoration: none;
}
